* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.spinner {
    width: 8px;
    height: 40px;
    background-color: cornflowerblue;
    position: absolute;
    animation: spinner 1s linear infinite;
    transform-origin: center bottom;
    border-radius: 4px;
}

@keyframes spinner { 
    100% {
        transform: rotate(360deg);
    }
}