* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #eee;
}

main {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    position: relative;   
}

.ms {
    height: 120px;
    width: 3px;
    background-color: red;
    position: absolute;
    left: 148.5px;
    bottom: 150px;
    transform: rotate(30deg);
    transform-origin: center bottom;
}

.s {
    height: 110px;
    width: 5px;
    background-color: grey;
    position: absolute;
    left: 147.5px;
    bottom: 150px;
    z-index: 1;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: grey;
    position: absolute;
    left: 145px;
    top: 145px;
}